*{
    margin:0;
}
body{
font-family: 'Lato', sans-serif;
}
nav{
    position: sticky;
    background-color: black;
    top:0;
    z-index: 1;
}
.navbar{
    width:100%;
    height:50px;
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
    
}
.navbar-container{
    display: flex;
    align-items: center;
    height: 100%;
    padding:0 50px;
}
.logo-container{
    flex:1;

}
.logo{
    font-family: 'Lato', sans-serif;
    color:white;
    font-size: 30px;
}
.menu-container{
    flex:6;
    color:white;
}
.menu-list{
    display: flex;
    list-style: none;
    font-family: 'Lato', sans-serif;
}
.menu-list-items{
    margin:50px;
    text-transform: capitalize;
    cursor: pointer;
    
}
.active{
font-weight: bold;
}

.profile-container{
    flex:2;
    display: flex;
    align-items:center;
    margin:50px 5px;
    justify-content: flex-end;

}
.profie-text-container{
    margin:0 20px;
    margin-right: 15px;
}
.profile-picture{
    width:32px;
    height: 32px;
    border-radius: 50px;
    object-fit: cover;
    margin-right: 15px;
}
.toggle{
    width:40px;
    height: 20px;
    background-color: white;
    border-radius: 30px;
    justify-content: space-around;
    align-items: center;
    display:flex;
    position:relative;
    margin-left: 10px;
}
.toggle-icon{
    color:goldenrod;
}
.toggle-ball{
    width:18px;
    height: 18px;
    background-color: black;
    position:absolute;
    right: 1px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}
.sidebar{
    width:50px;
    height: 100%;
    background-color: black;
    position: fixed;
    display: flex;
   flex-direction: column;
   padding-top: 60px;
   align-items: center;
}
.left-menu-icon{
    color:white;
    margin-bottom:40px;
    font-size: 20px;
    cursor: pointer;
}
.container{
   min-height: calc(100vh-50px);
   background-color: black;
}
.content-container{
    margin-left: 50px;
    color:black;
}
.featured-content{
    height: 50vh;
   
}
.featured-desc{
    color:#62e59d;
    font-family: 'Lato', sans-serif;
    margin-left: 20px;
   font-size: 40px;

}
.featured-button{
    border-radius: 10px;
    margin-left: 550px;
    background-color: #62e59d;
    color:black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    cursor: pointer;
}
.featured-button:hover{
    background-color: #7be7ac;
}
.movie-list-container{
    padding:20px; 
}
.movie-list-title{
    color:#18be60;
}
.movie-list-wrapper{
    position: relative;
    overflow: hidden;
}
.movie-list{
    display:flex;
    align-items: center;
    height: 350px;
    transition: all 1s ease-in-out;
}
.movie-list-items{
    margin-right: 8px; 
    position: relative;
}
.movie-list-items:hover .movie-list-item-img{
 transform: scale(1.2);
 margin:0 20px;
 opacity: 0.5;
}
.movie-list-items:hover .movie-list-item-title,
.movie-list-items:hover .movie-list-item-desc,
.movie-list-items:hover .movie-list-item-button{
opacity: 1;
}

.movie-list-item-img{
   transition: all 1s ease-in-out;
    width: 190px;
    height: 280px;
    object-fit: cover;
   
  
}
.movie-list-item-title{
    background-color:transparent;
    padding:0 10px;
    font-size:28px;
    font-weight:bolder;
    position: absolute;
    top:1%;
    left:10px;
    opacity:0;
    color:white;
}
.movie-list-item-desc{
    background-color:transparent;
    color:white;
    font-weight: bold;
    padding:10px;
    font-size:14px;
    position: absolute;
    top:30%;
    left:10px;
    width:180px;
    opacity:0;
}
.movie-list-item-button{
    background-color:#51d78d ;
    padding: 10px;
    color:black;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    outline: none;
    border:none;
    cursor:pointer;
    width:190px;
    position:absolute;
    bottom:20px;
    left:20px;
    opacity:0;
}
.arrow{
    font-size: 120px;
    position:absolute;
    top: 100px;
    color:lightgray;
   opacity:0.5;
   right:0;
    
}
.container.active{
    background-color: #F6F6F7;
}
/*.container{
    background-color: #FFF0F0;
}
/*.container{
    background-color: #FAF9F6;
}*/

.navbar.active,.sidebar.active{
    background-color: #b2d3c2;
}
.toggle.active{
    background-color: black;
}
.logo.active,.profile-text.active,.down-arrow.active,.left-menu-icon.active{
    color:black;
   
}
.menu-list-items.active{
    color: black;
    font-weight: light;
    font-family: 'Montserrat', sans-serif;
}
/*.navbar,.sidebar{
    background-color: #DEE4E7;
}*/
.movie-list-title.active{
    color:	#2E8B57;
    
}
.toggle-ball.active{
    background-color: whitesmoke;
    transform: translateX(-20px);
}
.movie-list-item-title.active,.movie-list-item-desc.active{
    /*color:#faf9f6;
    color:#FFF2F7;*/
color: #494F55;

}
.movie-list-item-button.active{
  background-color: #102e1d;
}
.arrow.active{
    color:#494F55
}
